# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

samples/skywalking-auth/skywalking-auth.iml
samples/skywalking-example/example-dubbo/dubbo-impl/dubbo-impl.iml
samples/skywalking-example/example-dubbo/dubbo-interfaces/dubbo-interfaces.iml
samples/skywalking-example/example-dubbo/example-dubbo.iml
samples/skywalking-example/example-dubbox-rest/example-dubbox-rest.iml
samples/skywalking-example/example-web/example-web.iml
samples/skywalking-example/skywalking-example.iml
skywalking-alarm/skywalking-alarm.iml
skywalking-sniffer/skywalking-agent/skywalking-agent.iml
skywalking-sniffer/skywalking-api/skywalking-api.iml
skywalking-sniffer/skywalking-sdk-plugin/custom-local-method-interceptor-plugin/custom-local-method-interceptor-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/dubbo-plugin/skywalking-dubbo-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/httpClient-4.x-plugin/skywalking-httpClient-4.x-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/jdbc-plugin/skywalking-jdbc-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/jedis-2.x-plugin/skywalking-jedis-2.x-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/motan-plugin/motan-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/skywalking-sdk-plugin.iml
skywalking-sniffer/skywalking-sdk-plugin/tomcat-7.x-8.x-plugin/tomcat-7.x-8.x-plugin.iml
skywalking-sniffer/skywalking-sniffer.iml
skywalking-storage-center/skywalking-routing/skywalking-routing.iml
skywalking-storage-center/skywalking-storage-center.iml
skywalking-storage-center/skywalking-storage/skywalking-storage.iml
skywalking-webui/skywalking-webui.iml
skywalking.iml
test/skywalking-test-api/skywalking-test-api.iml
